<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target
      name="ISAAC"
      xsi:type="File"
      layout="[${date:format=dd-MM-yyyy HH\:mm\:ss.fff}] ${message}"
      fileName="${basedir}Logs/ISAAC.log"
      archiveAboveSize ="5000000"
      maxArchiveFiles="2"/>
    <target
      name="Networking"
      xsi:type="File"
      layout="[${date:format=dd-MM-yyyy HH\:mm\:ss.fff}] ${message}"
      fileName="${basedir}Logs/Networking.log"
      archiveAboveSize ="5000000"
      maxArchiveFiles="2"/>
    <target
      name="Interaction"
      xsi:type="File"
      layout="[${date:format=dd-MM-yyyy HH\:mm\:ss.fff}] ${message}"
      fileName="${basedir}Logs/Interaction.log"
      archiveAboveSize ="5000000"
      maxArchiveFiles="2"/>
  </targets>

  <rules>
    <logger name="mainLogger" minlevel="Trace" writeTo="ISAAC" />
    <logger name="networkingLogger" minlevel="Trace" writeTo="Networking" />
    <logger name="interactionLogger" minlevel="Trace" writeTo="Interaction" />
  </rules>
</nlog>